.Conthuella{
    text-align: center;
    background-image: url("../imagenes/fondo1.png");
    background-size: cover;
}

.Conthuella h2{
    color: #2A0050;
    font-size: 30px;
}
.Conthuella p{
    font-size: 20px;
    color: #515151;
    margin: 20px;
}

.contentColum{
    display: flex;
    flex-wrap: wrap;

}

.contentColum p{
    font-size: 15px;
}
  
.columna1 {
    flex-basis: 33%;
    box-sizing: border-box;
    padding: 10px;
}
.columna2 {
    flex-basis: 33%;
    box-sizing: border-box;
    padding: 10px;
}
.columna3 {
    flex-basis: 33%;
    box-sizing: border-box;
    padding: 10px;
}

.Conthuella img{
    height: 60px;
    width: 230px;

}