.contUnirse{
    text-align: center;
    background-size: cover;
    margin: 60px;
}

.contUnirse h2{
    color: #2A0050;
    font-size: 30px;
}
.contUnirse p{
    font-size: 20px;
    color: black;
    margin: 20px;
}

.tarjeta-on {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    display: inline-block;
    margin-right: 20px;
    overflow: hidden;
    width: 300px;
    height: 322px;
  }
  .tarjeta-tw {
    background-image: linear-gradient(to bottom, #290066be, #45017c);
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    display: inline-block;
    margin-right: 20px;
    overflow: hidden;
    width: 300px;
    height: 322px;
  }
  
  .tarjeta:last-of-type {
    margin-right: 0;
  }
  
  
  .contenidoT {
    padding: 20px;
  }
  
  .contenidoT h3 {
    font-size: 20px;
    margin-top: 0;
  }
  
  .contenidoT p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .botonT {
    background-color: #007bff;
    border: none;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    padding: 10px 20px;
    text-decoration: none;
  }
  .lineaT {
    border-top: 3px solid #FF6E56;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    bottom: 0;
    left: 0;
}